h3 {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  text-transform: capitalize;
  color: #343B41;
  letter-spacing: 0px;
  font-weight: 900;
  margin-bottom: 40px; }

h4 {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  text-transform: capitalize;
  color: #343B41;
  letter-spacing: 0px;
  font-weight: 900; }

h5 {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  text-transform: capitalize;
  color: #343B41;
  letter-spacing: 0px;
  font-weight: 900; }

h6 {
  font-family: Merriweather-Italic;
  font-size: 13px;
  color: #343B41;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 1.8; }

p {
  color: #8895a0;
  text-rendering: optimizeLegibility;
  line-height: 1.8; }

li {
  color: #8895a0; }

body {
  color: #343B41;
  background-color: rgba(14, 85, 130, 0.06);
  min-height: 800px;
  background-image: url("../../img/vert.png");
  background-size: cover;
  background-position: center center; }

#navigation img {
  display: inline-block;
  float: left;
  width: 40px;
  opacity: .75;
  -webkit-transition: opacity ease-in-out .3s;
  -moz-transition: opacity ease-in-out .3s;
  -ms-transition: opacity ease-in-out .3s;
  transition: opacity ease-in-out .3s; }
  #navigation img:hover {
    opacity: 1;
    -webkit-transition: opacity ease-in-out .3s;
    -moz-transition: opacity ease-in-out .3s;
    -ms-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s; }
    
.top-bar.light #navigation img {
	margin-top: 5px; }

.menu {
  width: 50%;
  line-height: 1; }

.top-bar.light {
  background-color: #f0f5f9;
  height: 50px;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -ms-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  /*box-shadow: 1px 1px 2px rgba(0,0,0,.1);*/ }

.top-bar {
  display: table;
  height: 80px;
  width: 100%;
  padding-left: 0px;
  position: fixed;
  background-color: transparent;
  z-index: 99;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -ms-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }
  .top-bar .top-bar-right {
    display: table-cell;
    vertical-align: middle; }
    .top-bar .top-bar-right ul {
      list-style: none;
      float: right;
      padding: 0px;
      margin: 0px;
      height: auto;
      line-height: 3.2;
      background-color: transparent; }
      .top-bar .top-bar-right ul li {
        display: inline-block;
        margin-left: 30px;
        font-family: Roboto-Black;
        font-size: 10px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        -webkit-transition: opacity ease-in-out .3s;
        -moz-transition: opacity ease-in-out .3s;
        -ms-transition: opacity ease-in-out .3s;
        transition: opacity ease-in-out .3s; }
        .top-bar .top-bar-right ul li a {
          -webkit-transition: opacity ease-in-out .3s;
          -moz-transition: opacity ease-in-out .3s;
          -ms-transition: opacity ease-in-out .3s;
          transition: opacity ease-in-out .3s;
          color: #343B41;
          opacity: .7; }
          .top-bar .top-bar-right ul li a:hover {
            opacity: 1;
            -webkit-transition: opacity ease-in-out .3s;
            -moz-transition: opacity ease-in-out .3s;
            -ms-transition: opacity ease-in-out .3s;
            transition: opacity ease-in-out .3s; }

#aboveTheFold {
  height: 550px;
  background-image: url("../../img/fold.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center -150px;
  background-position: fixed;
  z-index: -99;
  display: table;
  width: 100%;
  background-color: rgba(14, 85, 130, 0.03); }
  #aboveTheFold h1 {
    font-family: Merriweather-BlackItalic;
    font-size: 36px;
    color: #343B41;
    letter-spacing: 0px;
    line-height: 52px;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    #aboveTheFold h1 span {
      font-family: 'Roboto', sans-serif;
      font-weight: 300; }

/* END Hero ================================================= */
/* START Education ================================================= */
.education {
  /*box-shadow: 0px -4px 8px rgba(0,0,0,.06);*/
  /*background-color: rgba(14,85,130,.03);*/
  margin-top: -0px;
  z-index: 1;
  padding-top: 0px; }

#education-nav {
  display: block;
  margin: 0px auto; }
  #education-nav .label-light {
    position: absolute;
    z-index: -10;
    margin-top: -4px;
    left: 0;
    font-size: 120px;
    opacity: .035;
    font-family: "Roboto-Black";
    text-transform: uppercase; }
  #education-nav .tabs-content {
    background-color: transparent;
    padding: 40px 0px 40px 0px;
    margin-right: 0px;
    border: none;
    border-bottom: 1px solid #dde1e4; }
    #education-nav .tabs-content #school-bullets li {
      line-height: 1.8; }
    #education-nav .tabs-content h5 {
      padding: 0px 0px 10px 0px;
      margin-top: 0px; }
    #education-nav .tabs-content h4 {
      margin-bottom: 25px;
      line-height: 1.6; }
    #education-nav .tabs-content h6 {
      margin-bottom: 4px;
      padding-bottom: 0px;
      color: #343B41;
      opacity: .6; }
  #education-nav .tabs {
    background-color: transparent;
    border: none;
    padding: 40px 0px 40px 0px;
    border-bottom: 1px solid #dde1e4; }
    #education-nav .tabs .tabs-title > a[aria-selected='true'] {
      opacity: .5;
      background-color: transparent; }
    #education-nav .tabs li {
      width: 33.3333%; }
      #education-nav .tabs li a {
        opacity: .25;
        -webkit-transition: opacity ease-in-out .3s;
        -moz-transition: opacity ease-in-out .3s;
        -ms-transition: opacity ease-in-out .3s;
        transition: opacity ease-in-out .3s; }
        #education-nav .tabs li a:hover {
          opacity: .7;
          -webkit-transition: opacity ease-in-out .3s;
          -moz-transition: opacity ease-in-out .3s;
          -ms-transition: opacity ease-in-out .3s;
          transition: opacity ease-in-out .3s;
          background-color: transparent; }
        #education-nav .tabs li a:focus {
          opacity: .70;
          background-color: transparent; }
        #education-nav .tabs li a img {
          width: 45%;
          display: block;
          margin-left: auto;
          margin-right: auto; }
  #education-nav #block {
    height: 40px;
    width: 400px;
    background-color: #343B41;
    opacity: .15;
    z-index: 10;
    position: absolute;
    margin-top: 100px;
    margin-left: 220px;
    mix-blend-mode: multiply;
    -ms-transform: rotate(7deg);
    /* IE 9 */
    -webkit-transform: rotate(7deg);
    /* Chrome, Safari, Opera */
    transform: rotate(7deg); }
  #education-nav #block2 {
    height: 40px;
    width: 400px;
    background-color: #343B41;
    opacity: .15;
    z-index: 10;
    position: absolute;
    margin-top: 150px;
    margin-left: 225px;
    mix-blend-mode: multiply;
    -ms-transform: rotate(7deg);
    /* IE 9 */
    -webkit-transform: rotate(7deg);
    /* Chrome, Safari, Opera */
    transform: rotate(7deg); }
  #education-nav #blockv {
    height: 200px;
    width: 40px;
    background-color: #343B41;
    opacity: .15;
    z-index: 10;
    position: absolute;
    margin-top: 250px;
    margin-left: 500px;
    mix-blend-mode: multiply;
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    /* Chrome, Safari, Opera */
    transform: rotate(30deg); }
  #education-nav #blockv2 {
    height: 200px;
    width: 40px;
    background-color: #343B41;
    opacity: .15;
    z-index: 10;
    position: absolute;
    margin-top: 250px;
    margin-left: 445px;
    mix-blend-mode: multiply;
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    /* Chrome, Safari, Opera */
    transform: rotate(30deg); }
  #education-nav #block3 {
    height: 40px;
    width: 400px;
    background-color: #343B41;
    opacity: .05;
    z-index: 10;
    position: absolute;
    margin-top: 15px;
    margin-left: 220px;
    mix-blend-mode: multiply; }

.experience {
  /*box-shadow: 0px -4px 8px rgba(0,0,0,.06);*/
  /*background-color: rgba(14,85,130,.03);*/
  margin-top: -0px;
  z-index: 1;
  padding-top: 0px; }

#experience-nav {
  display: block;
  margin: 0px auto; }
  #experience-nav .label-light {
    position: absolute;
    z-index: 0;
    margin-top: -4px;
    right: 0;
    font-size: 120px;
    opacity: .035;
    font-family: "Roboto-Black";
    text-transform: uppercase; }
  #experience-nav .tabs-content {
    background-color: transparent;
    padding: 50px 0px 0px 0px;
    margin-right: 0px;
    border: none;
    /*border-bottom: 1px solid lighten($charcoal, 65%);*/ }
    #experience-nav .tabs-content #school-bullets li {
      line-height: 1.8; }
    #experience-nav .tabs-content h5 {
      padding: 0px 0px 15px 0px;
      margin-top: 0px; }
  #experience-nav .tabs {
    background-color: transparent;
    border: none;
    padding: 40px 0px 40px 0px;
    border-bottom: 1px solid #dde1e4; }
    #experience-nav .tabs .tabs-title > a[aria-selected='true'] {
      opacity: .5;
      background-color: transparent; }
    #experience-nav .tabs li {
      width: 25%; }
      #experience-nav .tabs li a {
        opacity: .25;
        -webkit-transition: opacity ease-in-out .3s;
        -moz-transition: opacity ease-in-out .3s;
        -ms-transition: opacity ease-in-out .3s;
        transition: opacity ease-in-out .3s; }
        #experience-nav .tabs li a:hover {
          opacity: .7;
          -webkit-transition: opacity ease-in-out .3s;
          -moz-transition: opacity ease-in-out .3s;
          -ms-transition: opacity ease-in-out .3s;
          transition: opacity ease-in-out .3s;
          background-color: transparent; }
        #experience-nav .tabs li a:focus {
          opacity: .70;
          background-color: transparent; }
        #experience-nav .tabs li a img {
          width: 65%;
          display: block;
          margin-left: auto;
          margin-right: auto; }

#experience .row {
  margin-bottom: 40px; }
#experience h4 {
  padding-bottom: 0px;
  margin-bottom: 0px; }
#experience h5 {
  padding-bottom: 0px; }
#experience h6 {
  margin-bottom: 10px;
  padding-bottom: 0px; }

.hobbies #hobbies-nav {
  display: block;
  margin: 0px auto;
  padding: 80px 0px;
  /*border-bottom: 1px solid lighten($charcoal, 65%);*/
  border-top: 1px solid #dde1e4; }
  .hobbies #hobbies-nav .label-light {
    position: absolute;
    z-index: -10;
    margin-top: -20px;
    right: 0;
    font-size: 120px;
    opacity: .035;
    font-family: "Roboto-Black";
    text-transform: uppercase; }
.hobbies p {
  width: 60%;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto; }
.hobbies img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -ms-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }
  .hobbies img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s; }

#contact {
  padding: 80px 0px; }
  #contact p {
    width: 60%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    
#error {
  position: absolute;
  width: 550px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -184px 0 0 -275px; }
  #error .label-light {
    position: absolute;
    z-index: 99;
    margin-top: -80px;
    right: 55px;
    font-size: 120px;
    opacity: .06;
    letter-spacing: 8px;
    font-family: "Roboto-Black";
    text-transform: uppercase; }
  #error p {
    text-align: center;
    padding: 30px 0px; }

/*# sourceMappingURL=custom.css.map */
